/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

/* Common Css */
body {
    margin     : 0;
    padding    : 0;
    font-family: 'Poppins', sans-serif;

}

.container {
    max-width: 85%;
    margin   : 0 auto;
}

button i {
    margin-left: 5px;
}

/* Header section is start */
#header_section {
    background   : #161616;
    padding      : 40px;
    margin-top   : 50px;
    border-radius: 10px
}

.flex_section {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 5%;
}

.flex_section .header_text {
    width: 45%;
}

.header_text h1 {
    font-size: 4.5vw;
    color    : #ffff;

}

.header_text p {
    font-size: 16px;
    color    : #fff;
}

.header_text button  {
    padding      : 16px 25px;
    border       : none;
    background   : rgba(221, 0, 0, 1);
    border-radius: 5px;
    cursor       : pointer;
    color        : #ffffff;
    font-size    : 20px;
    text-align   : center;

}

.flex_section .header_image {
    width: 50%;
}

.header_image img {
    width: 90%;
}

/* Header section is End */
/* Header Animation */
#header_section  .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* Blog Section is start */
#blog_section {
    margin : 80px 0px;
    display: flex;
    gap    : 20px;

}

.blog_drop_down {
    width: 20%;
    display         : flex;
    flex-direction  : column;
    background-color: #161616;
    border-radius   : 5px;
    padding         : 15px;
    max-height: 250px;
   



}

.blog_drop_down a{
    padding      : 12px 30px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    font-weight  : 600;
    font-size    : 18px;
    margin: 10px;
    color: #000;
    cursor       : pointer;
}

.blog {
    background: red!important;
    color     : #fff!important;
}

.blog_news_items {
    width: 80%;

    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 20px;
}

.blog_news_item {
    border       : 1px solid rgba(232, 232, 232, 1);
    border-radius: 10px;

}

.blog-info {
    padding: 10px;
}

.blog-info i {
    color         : rgba(22, 22, 22, 0.7);
    text-transform: lowercase !important;

}

.fa-clock {
    margin-right: 5px;
}

.fa-message {
    margin-left : 25px;
    margin-right: 5px;
}

.blog_news_item img {

    width: 100%;
}
#btn{
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    margin: 30px 0px;
  
}
.btn  {
    padding      : 16px 50px;
    border       : none;
    background   : rgba(221, 0, 0, 1);
    border-radius: 5px;
    cursor       : pointer;
    color        : #ffffff;
    font-size    : 20px;
    text-align   : center;
    display: none;
   

}


/* Blog Section is end */
/* Fotter section is start */
#footer {
    background-color: #161616;
    padding         : 100px;

}

#footer h1 {
    text-align   : center;
    color        : #fff;
    font-weight  : 600;
    font-size    : 40px;
    margin-bottom: 40px;
}

.footer_navbar {
    margin-top     : 20px;
    display        : flex;
    align-items    : center;
    justify-content: space-around;
}

.footer_navbar a {
    color          : rgba(185, 185, 185, 1);
    text-decoration: none;
    font-size      : 16px;
}

hr {
    background-color: rgba(255, 255, 255, 0.1);
    height          : 1px;
    border          : 0;
}

/* Fotter section is  end*/
/* Match css */
.match_news_items {
    width: 80%;
     display              : grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap             : 20px;
 }
 
 .match_news_item {
     border       : 1px solid rgba(232, 232, 232, 1);
     border-radius: 10px;
     padding: 15px;
 }
 
 .match_img{
     display: flex;
     width: 100%;
     gap: 10px;
    
 }
 .match_img h1{
     font-size: 16px;
 }
 .match_img img{
     width: 100%;
 }
 
 .match_info{
     text-align: center!important;
     margin-top: 50px;
 }
 .match_info h3{
     font-size: 20px;
 }
/* Responsive css  */
@media screen and (min-width:768px) and (max-width:991px) {
    #blog_section {

        display       : flex;
        flex-direction: column;

    }

    .blog_drop_down {
        width           : 100%;
        flex-direction  : row;
        justify-content : center;
        background-color: #fff;
    }

    .blog_drop_down a {
        border       : 1px solid #E8E8E8;
        border-radius: 10px;
        padding      : 10px 25px;
     
        text-align: center;
    }

  

    .blog_news_items , .match_news_items {
        width: 100%;

        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap             : 20px;
    }

    .btn {
       
      display: block;
        
    }
    .footer_navbar {
      flex-wrap: wrap;
      gap: 10px;
    }
    
}

@media screen and (max-width:767px) {
    .flex_section {
        
       flex-direction: column;
       justify-content: center;
    
    }
    .flex_section .header_text {
      width: 100%;
      margin: 30px 0px;
      text-align: center;
    }
    .header_text h1{
        font-size:22px;
    }
    .header_text p{
        font-size: 14px;
    }
    .flex_section .header_image {
        width: 60%;
    }
  
    #blog_section {

        display       : flex;
        flex-direction: column;

    }
    .blog_drop_down{
        flex-direction: column;
        width           : 100%;
       align-items: center;
        justify-content : center;
        background-color: #fff;
    }
    .blog_drop_down a {
        border       : 1px solid #E8E8E8;
        border-radius: 10px;
        padding      : 10px 25px;
        width: 50%;
        text-align: center;
    }

    .blog_news_items , .match_news_items {
        width: 100%;

        display              : grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap             : 20px;
    }
    .footer_navbar {
        flex-direction: column;
        text-align: center;
        align-items: center;
       gap: 20px;
      }
      
}
